#meme-form-container {
    
    width: 600px; 
    border-style: solid; 
    border-width: 1px; 
    justify-items: center; 
    margin-top: 100px; 
    margin-left: 200px; 

}

#meme-form {

    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    
}